<template>
    <v-main>
        <v-row justify="center">
            <v-form v-model="state.valid" @submit.prevent="addEntry" class="v-col-6 mt-3 pt-5">
                <v-col cols="12">
                    <v-text-field
                        v-model="v$.name.$model"
                        label="Name"
                        variant="underlined"
                        density="compact"
                        required>
                    </v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field
                        v-model="v$.number.$model"
                        label="Phone Number"
                        variant="underlined"
                        density="compact"
                        required>
                    </v-text-field>
                </v-col>
                <v-col cols="12" class="text-center">
                    <v-btn color="deep-purple-lighten-2" variant="tonal" type="submit">
                        SUBMIT
                    </v-btn>
                </v-col>
            </v-form>
        </v-row>

    </v-main>

</template>

<script setup>
import {reactive, toRef} from "vue";
import axios from "axios";
import {useVuelidate} from "@vuelidate/core";
import {minLength, numeric, required, maxLength} from "@vuelidate/validators";
import Swal from "sweetalert2";

const Toast = Swal.mixin({
    toast: true,
    position: 'center',
    showConfirmButton: false,
    width: '500px',
    timer: 2000,
    timerProgressBar: true,
    didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
})

const rules = {
    name: {required, minLength: minLength(2)},
    number: {required, numeric, minLength: minLength(10), maxLength: maxLength(20)}
}

const emit = defineEmits(["error"])

const state = reactive({
    name: '',
    number: '',
    valid: true,
})

const v$ = useVuelidate(rules, {
    name: toRef(state, 'name'),
    number: toRef(state, 'number')
})

async function addEntry() {
    if (!v$.value.$invalid) {
        const params = {
            name: state.name,
            number: state.number
        }
        await axios.post('/api/phone_books', params)
            .then(() => {
                Toast.fire({
                    icon: 'success',
                    title: 'Success'
                })
            })
            .catch((e) => {
                emit("error", e.message)
            })
    } else {
        emit("error", "Name required and Phone number required at least 10 numbers minimum and 20 max.")
    }
}
</script>

<style scoped>

</style>
