<template>
    <v-card flat rounded="0">
        <v-toolbar color="deep-purple" density="compact">
            <v-btn
                :variant="showFormPhoneBook ? 'outlined' : 'text'"
                @click="$emit('showFormPhoneBook', true)">
                ADD NEW ENTRY
            </v-btn>
            <v-btn
                :variant="!showFormPhoneBook ? 'outlined' : 'text'"
                @click="$emit('showFormPhoneBook', false)">
                SEARCH
            </v-btn>
        </v-toolbar>
    </v-card>

</template>

<script setup>

defineProps(['showFormPhoneBook'])

</script>

<style scoped>

</style>
