<template>
    <Header
        @showFormPhoneBook="(value) => (showFormPhoneBook) = value"
        :showFormPhoneBook="showFormPhoneBook"
    />

    <v-app>
        <v-main>
            <v-container>
                <v-row justify="center" id="switch-form">
                    <h3 class="text-deep-purple-lighten-2 mt-3" v-if="showFormPhoneBook">
                        ADD NEW ENTRY
                    </h3>
                    <h3 class="text-deep-purple-lighten-2 mt-3" v-else>
                        SEARCH
                    </h3>
                </v-row>

                <AddEntryPhoneBookComponent v-if="showFormPhoneBook" @error="setError"/>

                <v-row justify="center" v-else>
                    <v-form v-model="state.valid" @submit.prevent="search" class="v-col-6 mt-3 pt-5">
                        <v-col cols="12">
                            <v-text-field
                                v-model="v$.name.$model"
                                label="Name"
                                variant="underlined"
                                density="compact"
                                required>
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                v-model="v$.number.$model"
                                label="Phone Number"
                                variant="underlined"
                                density="compact"
                                required>
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" class="text-center">
                            <v-btn color="deep-purple-lighten-2"
                                   variant="tonal"
                                   type="submit">
                                Search
                            </v-btn>
                        </v-col>
                    </v-form>
                </v-row>

                <v-row v-if="state.phoneBooks.length > 0 && !showFormPhoneBook" justify="center">
                    <v-table
                        class="elevation-1 v-col-6 mt-3"
                        density="compact">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in state.phoneBooks">
                            <td>{{ item.name }}</td>
                            <td>{{ item.number }}</td>
                        </tr>
                        </tbody>
                    </v-table>
                </v-row>

            </v-container>

        </v-main>
    </v-app>
</template>

<script setup>
import {reactive, ref, toRef} from "vue";
import axios from "axios"
import {useVuelidate} from '@vuelidate/core'
import {minLength, numeric} from '@vuelidate/validators'
import AddEntryPhoneBookComponent from "./AddEntryPhoneBookComponent";
import Swal from 'sweetalert2'
import Header from "./Header";

const Toast = Swal.mixin({
    toast: true,
    position: 'center',
    showConfirmButton: false,
    width: '500px',
    timer: 2000,
    timerProgressBar: true,
    didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
})

const rules = {
    name: {minLength: minLength(2)},
    number: {numeric, minLength: minLength(2)}
}

const state = reactive({
    phoneBooks: [],
    name: '',
    number: '',
    valid: true,
})

const showFormPhoneBook = ref(false)

const v$ = useVuelidate(rules, {
    name: toRef(state, 'name'),
    number: toRef(state, 'number')
})

async function search() {
    if (!v$.value.$invalid) {
        await axios.get('/api/phone_books?name=' + state.name + '&number=' + state.number)
            .then(response => {
                if (response.status === 200 && response.data['hydra:totalItems'] > 0) {
                    state.phoneBooks = response.data['hydra:member']
                } else {
                    setError('No result')
                }
            })
            .catch((e) => {
                setError(e.message)

            })
    } else {
        setError('If you try to search by name or phone number it\'s 2 chars min')
    }
}
function setError(value) {
    Toast.fire({
        icon: 'error',
        html: value,
    })
    state.phoneBooks = []
}

</script>
<style scoped>

</style>
